.template-step {
  width: 9rem;

  .step-count {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #a358ff;
  }
}

.text-dark-grey {
  color: #8b8b8b;
}

.text-light-grey {
  color: #c0c0c0;
}
