<!-- <div class="add-recipient-container bg-cover bg-no-repeat bg-center min-h-full">
  <div class="border-1 border-[#a7a7a7] rounded-lg p-3">
    <c-accordion>
      <c-accordion-item #item0="cAccordionItem" [visible]="false">
        <ng-template cTemplateId="accordionHeaderTemplate">
          <button
            (click)="item0.toggleItem()"
            [collapsed]="!item0.visible"
            cAccordionButton
          >
            Add recipient
          </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">
          <div class="accordion-body">
            <h2>test</h2>
          </div>
        </ng-template>
      </c-accordion-item>
      <c-accordion-item #item1="cAccordionItem" [visible]="true">
        <ng-template cTemplateId="accordionHeaderTemplate">
          <button
            (click)="item1.toggleItem()"
            [collapsed]="!item1.visible"
            cAccordionButton
          >
            Package setting
          </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">
          <div class="accordion-body">
            <h2 class="text-black!">test</h2>
          </div>
        </ng-template>
      </c-accordion-item>
      <c-accordion-item #item2="cAccordionItem" [visible]="false">
        <ng-template cTemplateId="accordionHeaderTemplate">
          <button
            (click)="item2.toggleItem()"
            [collapsed]="!item2.visible"
            cAccordionButton
          >
            Email Notification setting
          </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">
          <div class="accordion-body">
            <h2>test</h2>
          </div>
        </ng-template>
      </c-accordion-item>
    </c-accordion>
    <div class="flex justify-between">
      <a routerLink="/document/add-document" class="btn btn-outline-secondary"
        ><i class="bi bi-chevron-left"></i>Back</a
      >
      <button class="btn-package">Create</button>
    </div>
  </div>
</div> -->

