<div class="min-vh-100 grid md:grid-cols-2">
  <div
    class="info-container min-vh-100 text-white bg-center bg-no-repeat bg-cover flex flex-column justify-evenly text-center items-center lg:text-start! lg:items-start lg:ps-18"
  >
    <img
      src="../../../../../assets/images/sudo_white_logo.png"
      alt="Logo"
      width="250"
      height="35"
      loading="lazy"
    />
    <div>
      <strong class="block font-extrabold text-6xl leading-[55px]"
        >Sudo<span class="text-[#9747ff]">Mark</span></strong
      >
      <span class="text-xl! tracking-[2px]">Your digital mark, verified</span>
    </div>

    <strong class="mb-0 text-5xl font-extrabold">
      <span class="text-[#9747ff]">“</span>One Click, Signed.<br />Sealed,
      Delivered.<span class="text-[#9747ff]">”</span>
    </strong>

    <p class="mb-0 text-xl leading-[30px]">
      Digitally sign, track and manage your<br />
      documents in seconds.
    </p>
  </div>
  <div
    class="form-container ng-no-repeat flex flex-column items-center justify-center py-4 px-4 lg:px-0! bg-cover bg-center"
  >
    <div
      class="login-box border-2 border-[#9747ff] rounded-2xl p-4 w-full lg:w-5/6 xl:w-5/7 2xl:w-3/5"
    >
      <div class="text-center">
        <strong class="text-4xl text-[#9747ff] tracking-[1px] leading-[62px]"
          >Welcome back !</strong
        >
        <p class="mb-0 text-[#747474] mt-2 text-justify">
          Securely access your digital documents and sign them anytime,
          anywhere. Your data is encrypted and protected with industry-standard
          security.
        </p>
        <button
          class="bg-[#3f3f46] my-[2rem]! text-white rounded-full! font-semibold py-[0.45rem] w-full flex items-center justify-center"
        >
          <img
            src="../../../assets/images/google_logo.svg"
            alt="logo"
            loading="lazy"
            class="me-2"
          />
          Sign in with Google
        </button>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
        <div class="form-group mb-3">
          <label for="email">Email Address</label>
          <input
            type="email"
            class="form-text-input"
            id="email"
            placeholder="example@gmail.com"
            formControlName="email"
            name="email"
          />

          @let email = loginFormControls['email']; @if (email.invalid &&
          email.touched) { @if (email.hasError('pattern')) {
          <small class="err-msg">Invalid email format</small>
          }@else {
          <small class="err-msg">Email is Required</small>
          } }
        </div>
        <div class="form-group mb-3">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-text-input"
            id="password"
            placeholder="********"
            formControlName="password"
            name="password"
          />
          @let password = loginFormControls['password']; @if (password.invalid
          && password.touched) { @if (password.hasError('minlength')) {
          <small class="err-msg"
            >Password must be minimum 8 characters long</small
          >
          }@else if (password.hasError('maxlength')) {
          <small class="err-msg"
            >Password must be maximum 16 character long</small
          >
          }@else {
          <small class="err-msg">Password is Required</small>
          } }
        </div>
        <div class="mb-[2rem]">
          <div class="d-flex justify-content-between">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="remember"
                formControlName="remember"
                name="remember"
              />
              <label class="form-check-label" for="remember">Remember me</label>
            </div>

            <div class="form-forgot-password">
              <a href="#" class="text-[#9747ff] transition hover:text-[#a358ff]"
                >Forgot password?</a
              >
            </div>
          </div>
        </div>

        <div class="mb-5">
          <button
            type="submit"
            class="bg-[#a358ff] text-white font-semibold rounded-full! py-[0.45rem] w-full lg:w-1/3 transition hover:bg-[#9747ff]"
          >
            Login
          </button>
        </div>
        <span>Don't have an account? </span>
        <a
          routerLink="/register"
          class="text-[#9747ff] transition font-bold hover:text-[#a358ff]!"
          >Create free account</a
        >
      </form>
    </div>
  </div>
</div>
