.info-container {
  background-image: url("/assets/images/login_bg_1.png");
}

.form-container {
  background-image: url("/assets/images/login_bg_2.png");
}

@media (min-width: 1199px) {
  .login-box {
    padding: 3rem !important;
  }
}
