<div class="h-full flex flex-col justify-center items-center text-center">
  <img
    src="assets/images/create_contact_Icon.png"
    height="145"
    width="145"
    alt="icon"
  />
  <strong class="contact-heading my-4 text-[#8b8b8b]"
    >Add your Team’s contact</strong
  >
  <p
    class="contact-description m-0 text-[#acacac] text-sm tracking-wide w-full md:w-lg"
  >
    No more digging through folders. Each time you share a document, the
    recipient is added to your contacts automatically. Prefer doing it manually?
    You can. Easily view and track all signed and shared documents, contact by
    contact.
  </p>
  <button class="btn-package mt-5">Create contact</button>
</div>
