<div class="h-100">
  <c-container
    class="text-center h-100 w-100 d-flex flex-column align-items-center justify-content-center"
  >
    <img
      src="../../../assets/images/create_contact_Icon.png"
      height="145"
      width="145"
      alt="icon"
    />
    <strong class="d-block contact-heading my-4"
      >Add your Team’s contact</strong
    >
    <p class="m-0 contact-description">
      No more digging through folders. Each time you share a document, the
      recipient is added to your contacts automatically. Prefer doing it
      manually? You can. Easily view and track all signed and shared documents,
      contact by contact.
    </p>
    <button class="btn-package mt-5">Create contact</button>
  </c-container>
</div>
