.info-container {
  background-image: url("/assets/images/signup_bg_1.png");
}

.form-container {
  background-image: url("/assets/images/signup_bg_2.png");
}

@media (min-width: 1199px) {
  .register-box {
    padding: 3rem !important;
  }
}
