<div class="min-vh-100 grid md:grid-cols-2">
  <div
    class="info-container min-vh-100 text-white bg-center bg-no-repeat bg-cover flex flex-column justify-evenly text-center items-center lg:text-start! lg:items-start lg:ps-18"
  >
    <img
      src="assets/images/sudo_white_logo.png"
      alt="Logo"
      width="250"
      height="35"
      loading="lazy"
    />
    <div>
      <strong class="block font-extrabold text-6xl leading-[55px]"
        >Sudo<span class="text-[#9747ff]">Mark</span></strong
      >
      <span class="text-xl! tracking-[2px]">Your digital mark, verified</span>
    </div>

    <strong class="mb-0 text-5xl font-extrabold">
      <span class="text-[#9747ff]">“</span>Join the Paperless Revolution.<span
        class="text-[#9747ff]"
        >”</span
      >
    </strong>

    <p class="mb-0 text-xl leading-[30px]">
      Sign up and experience seamless digital signing.
    </p>
  </div>
  <div
    class="form-container ng-no-repeat flex flex-column items-center justify-center py-4 px-4 lg:px-0! bg-cover bg-center"
  >
    <div
      class="register-box border-2 border-[#9747ff] rounded-2xl p-4 w-full lg:w-5/6 xl:w-5/7 2xl:w-3/5"
    >
      <div class="text-center mb-4">
        <strong class="text-4xl text-[#9747ff] tracking-[1px] leading-[60px]"
          >New Here?<br />
          Welcome!</strong
        >
        <p class="mb-0 text-[#747474] mt-2 text-justify">
          Join thousands of professionals using our secure e-signature platform.
          Sign, send and manage documents with ease - all in one place.
        </p>
      </div>

      <form [formGroup]="signupForm" (ngSubmit)="signUp()" autocomplete="off">
        <div class="form-group mb-3">
          <label for="name">First & LastName</label>
          <input
            type="text"
            class="form-text-input"
            id="name"
            placeholder="Enter Name"
            formControlName="name"
            name="name"
          />
          @let name = signupFormControl['name']; @if (name.invalid &&
          name.touched) { @if (name.hasError('required')) {
          <small class="err-msg">Name is required</small>
          } }
        </div>
        <div class="form-group mb-3">
          <label for="email">Email Address</label>
          <input
            type="email"
            class="form-text-input"
            id="email"
            placeholder="example@gmail.com"
            formControlName="email"
            name="email"
          />
          @let email = signupFormControl['email']; @if (email.invalid &&
          email.touched) { @if (email.hasError('pattern')) {
          <small class="err-msg">Invalid email format</small>
          }@else {
          <small class="err-msg">Email is Required</small>
          } }
        </div>
        <div class="form-group mb-3">
          <label for="password">Create a password</label>
          <input
            type="password"
            class="form-text-input"
            id="password"
            placeholder="********"
            formControlName="password"
            name="password"
          />
          @let password = signupFormControl['password']; @if (password.invalid
          && password.touched) { @if (password.hasError('minlength')) {
          <small class="err-msg"
            >Password must be minimum 8 characters long</small
          >
          }@else if (password.hasError('maxlength')) {
          <small class="err-msg"
            >Password must be maximum 16 character long</small
          >
          }@else {
          <small class="err-msg">Password is Required</small>
          } }
        </div>
        <div class="form-check" style="margin-bottom: 2rem">
          <input
            type="checkbox"
            formControlName="remember"
            class="form-check-input"
            id="remember"
            name="remember"
          />
          <label class="form-check-label" for="remember"
            >I agree with the
            <span class="text-[#9747ff]">Terms & Conditions</span> of Sudocode
          </label>
          <div class="d-block">
            @let remember = signupFormControl['remember']; @if (remember.invalid
            && remember.touched) { @if (remember.hasError('required')) {
            <small class="err-msg">Please accept Terms & Conditions</small>
            } }
          </div>
        </div>
        <button
          type="submit"
          class="bg-[#a358ff] mb-4 text-white font-semibold rounded-full! py-[0.45rem] w-full transition hover:bg-[#9747ff]"
        >
          Sign Up
        </button>
        <button
          class="bg-[#3f3f46] text-white rounded-full! font-semibold py-[0.45rem] w-full flex items-center justify-center"
        >
          <img
            src="assets/images/google_logo.svg"
            alt="logo"
            loading="lazy"
            class="me-2"
          />
          Sign in with Google
        </button>
      </form>
    </div>
  </div>
</div>
