.doc-step-card {
  width: 8.813rem;

  .img-container {
    height: 5rem;
    width: 4.75rem;
  }

  .img-container,
  .img-container2 {
    border-color: #d2d2d2;
  }
}

.document-popup,
.document-url-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.document-popup-show {
  transition: all ease;
  display: block;
}

.document-url-popup-show {
  display: block;
}

::placeholder {
  color: #acacac;
}

input[type="text"]:focus {
  border: 1px solid #9747ff !important;
  outline: none;
}

.text-dark-grey {
  color: #808080;
}

.text-light-grey {
  color: #a7a7a7;
}
