.text-progress {
  color: #3b82f6;
}
.text-complete {
  color: #119c2b;
}
.text-reject {
  color: #dd1818;
}
.text-pending {
  color: #8b5cf6;
}

input[type="text"]:focus-visible {
  border: 1px solid var(--bg-violate) !important;
}

.text-light-grey {
  color: #71717a;
}

.text-bold-grey {
  color: #84919a;
  font-weight: 600;
  font-size: 1rem;
}

.border-light-grey {
  border-color: #e4e4e7;
}

.border-violate {
  border-color: #a358ff;
}

table {
  width: 100%;
  tr{
    border-bottom: #119c2b;
    border-color: gray;
  }
}

input[type="checkbox"] {
  border: 1px solid green !important;
}
