<div class="dashboard-container">
  <div class="flex items-center justify-between my-4">
    <span class="font-bold text-2xl capitalize">my Dashboard</span>
    <a routerLink="/document" class="btn-package">
      <i class="bi bi-plus"></i> Create Packages
    </a>
  </div>

  <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">
    <div
      class="border-1 rounded-lg border-light-grey hover:border-[#a358ff]! transition p-3"
    >
      <span class="text-2xl font-bold">175</span>
      <div class="flex items-center justify-between mt-2">
        <span class="text-light-grey">All Documents</span>
        <i class="bi bi-archive text-3xl"></i>
      </div>
    </div>
    <div
      class="border-1 rounded-lg border-light-grey hover:border-[#a358ff]! transition p-3"
    >
      <span class="text-2xl font-bold">105</span>
      <div class="flex items-center justify-between mt-2">
        <span class="text-light-grey">Completed Documents</span>
        <i class="bi bi-file-earmark-check text-3xl"></i>
      </div>
    </div>
    <div
      class="border-1 rounded-lg border-light-grey hover:border-[#a358ff]! transition p-3"
    >
      <span class="text-2xl font-bold">60</span>
      <div class="flex items-center justify-between mt-2">
        <span class="text-light-grey">Pending Documents</span>
        <i class="bi bi-file-earmark-text text-3xl"></i>
      </div>
    </div>
    <div
      class="border-1 rounded-lg border-light-grey hover:border-[#a358ff]! transition p-3"
    >
      <span class="text-2xl font-bold">10</span>
      <div class="flex items-center justify-between mt-2">
        <span class="text-light-grey">Rejected Documents</span>
        <i class="bi bi-file-earmark-excel text-3xl"></i>
      </div>
    </div>
  </div>

  <div class="my-5 flex justify-between gap-4">
    <form class="flex items-center w-full">
      <div class="relative w-full">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
        >
          <i class="bi bi-search text-[#94a3b8]"></i>
        </div>
        <input
          type="text"
          class="bg-white border border-gray-300 outline-none placeholder-gray-400 text-sm rounded-md block w-full ps-10 p-2.5"
          placeholder="Type to search"
        />
      </div>
    </form>
    <div class="border border-gray-300 flex rounded-md overflow-hidden">
      <form>
        <select
          id="countries"
          class="bg-white text-gray-900 border-r outline-none border-gray-300 text-sm block w-full py-2.5"
        >
          <option value="" selected disabled>Status</option>
          <option value="name">By name</option>
          <option value="status">By status</option>
          <option value="date">By date</option>
        </select>
      </form>

      <button class="border-0 px-3">
        <i class="bi bi-sort-down text-[1.5rem]"></i>
      </button>
    </div>
  </div>


  <table mat-table [dataSource]="dataSource">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="w-[5rem]">
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" class="w-[5rem]">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="packageTitle">
      <th class="text-bold-grey" mat-header-cell *matHeaderCellDef>
        Package Title
      </th>
      <td mat-cell *matCellDef="let element">{{ element.packageTitle }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th class="text-bold-grey" mat-header-cell *matHeaderCellDef>Status</th>
      <td
        mat-cell
        *matCellDef="let element"
        class="font-semibold"
        [ngClass]="{
          'text-progress': element.status === 'In Progress',
          'text-reject': element.status === 'Rejected',
          'text-complete': element.status === 'Completed',
          'text-pending': element.status === 'Pending'
        }"
      >
        {{ element.status }}
      </td>
    </ng-container>

    <ng-container matColumnDef="createdBy" class="border-[red]!">
      <th class="text-bold-grey" mat-header-cell *matHeaderCellDef>
        Created by
      </th>
      <td mat-cell *matCellDef="let element">{{ element.createdBy }}</td>
    </ng-container>

    <ng-container matColumnDef="createdOn">
      <th class="text-bold-grey" mat-header-cell *matHeaderCellDef>
        Created on
      </th>
      <td mat-cell *matCellDef="let element">{{ element.createdOn }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th class="text-bold-grey" mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button class="border-0 bg-white" matButton [matMenuTriggerFor]="menu">
          <i class="bi bi-three-dots"></i>
        </button>
        <mat-menu #menu="matMenu" class="shadow-md bg-white min-w-[150px]!">
          <button mat-menu-item>View</button>
          <button mat-menu-item>Rename</button>
          <button mat-menu-item>Preview</button>
          <button mat-menu-item>Make Template</button>
          <button mat-menu-item>Share</button>
          <button mat-menu-item>Print</button>
          <button mat-menu-item>Download</button>
          <button mat-menu-item>Delete</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
  </table>
</div>
