<span>Add documents</span>
<div
  class="py-4 border-1 border-dashed border-[#3f3f46] text-center mt-2 rounded-lg min-h-full flex flex-column justify-center items-center relative"
>
  <img
    src="../../../../assets/images/file_upload_icon.png"
    width="48"
    height="58"
    alt="icon"
  />
  <span class="my-4">Drag and drop your files in this box</span>

  <div class="relative inline-block">
    <button
      class="border-2 rounded-md! px-2 py-1 border-[#a358ff]"
      (click)="showDropdownMenu()"
    >
      Upload<i class="bi bi-chevron-down ms-1"></i>
    </button>

    <div
      id="docUploadMenu"
      class="doc-upload-menu absolute bg-white shadow-lg rounded-md p-1 min-w-[13rem] text-start"
    >
      <ul class="mb-0">
        <li class="flex p-2">
          <img
            src="../../../../assets/images/desktop_icon.png"
            height="20"
            width="20"
            alt="icon"
          />
          <input type="file" id="desktopUpload" hidden />
          <label class="ms-2" for="desktopUpload">Desktop</label>
        </li>
        <li class="flex p-2">
          <img
            src="../../../../assets/images/template-icon.png"
            height="20"
            width="20"
            alt="icon"
          />
          <input type="file" id="templateUpload" hidden />
          <label class="ms-2" for="templateUpload">Use a Template</label>
        </li>
        <li class="flex p-2">
          <img
            src="../../../../assets/images/gdrive-icon.png"
            height="20"
            width="20"
            alt="icon"
          />
          <input type="file" id="googleUpload" hidden />
          <label class="ms-2" for="googleUpload">Google Drive</label>
        </li>
        <li class="flex p-2">
          <img
            src="../../../../assets/images/dropbox-icon.png"
            height="20"
            width="20"
            alt="icon"
          />
          <input type="file" id="dropboxUpload" hidden />
          <label class="ms-2" for="dropboxUpload">Dropbox</label>
        </li>
        <li class="flex p-2">
          <img
            src="../../../../assets/images/onedrive-icon.png"
            height="20"
            width="20"
            alt="icon"
          />
          <input type="file" id="onedriveUpload" hidden />
          <label class="ms-2" for="onedriveUpload">OneDrive</label>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="pb-5 mt-4">
  <a routerLink="/document/add-recipient" class="btn-package float-right">
    Next<i class="bi bi-chevron-right ms-1"></i
  ></a>
</div>
