.plan-card-icon {
  font-size: 22px;
  color: var(--text-violate);
  margin-right: 10px;
}

.pricing-card:hover {
  background-color: var(--bg-violate);
  color: #fff;

  .plan-card-icon,
  .plan-description,
  .plan-duration {
    color: #fff;
    transition: all ease-in-out;
    transition-duration: 300ms;
  }
}
